{% extends 'FarmBundle::layout.html.twig' %}

{% block title %}FarmBundle:Product:add{% endblock %}

{% block main %}

    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Panier</h1>
    </div>

{% endblock %}
